<!DOCTYPE html>
<html lang="en">
<head>
    <title>GameVault</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <% if (user) { %>
        <h1>Welcome to GameVault, <%= user.username %></h1>
    <% } else { %>
        <h1>Welcome to GameVault</h1>
    <% } %>
</body>
</html>